.custom-modal-wide {
    max-width: 900px; /* Aumenta la larghezza */
    width: 90%; /* Opzione per la larghezza responsiva */
  }
  
  .custom-modal-body {
    word-wrap: break-word; /* Evita di spezzare il testo */
    overflow-x: auto; /* Scorrimento orizzontale per i contenuti ampi */
  }